<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: th:attr="|${backgroundColor}|";
        }
    </style>
</head>
<body>
<div class="container text-center mt-5">
    <h1 th:text="${message}"></h1>
    <a class="btn btn-primary mt-3" href="/tasks">Back to Tasks</a>
    <form action="/logout" method="post" class="mt-3">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
</body>
</html>