<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <!-- Dodajemy Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container slide-in">

    <h1 class="my-4">List of Tasks</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.status}"></td>
            <td th:text="${task.dueDate}"></td>

            <td>

                <form th:action="@{/api/tasks/{taskId}/assign/{username}(taskId=${task.id}, username=${user.username})}"
                      method="post" style="display: inline;">
                    <select name="username">
                        <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary">Assign</button>
                </form>


                <form th:action="@{/api/tasks/{taskId}/collaborators/{username}(taskId=${task.id}, username=${user.username})}"
                      method="post" style="display: inline;">
                    <select name="username">
                        <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
                    </select>
                    <button type="submit" class="btn btn-secondary">Add Collaborator</button>
                </form>


                <form th:action="@{/api/tasks/{taskId}/collaborators/{username}(taskId=${task.id}, username=${user.username})}"
                      method="post" th:method="delete" style="display: inline;">
                    <select name="username">
                        <option th:each="user : ${task.collaborators}" th:value="${user.username}" th:text="${user.username}"></option>
                    </select>
                    <button type="submit" class="btn btn-danger">Remove Collaborator</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="/tasks/add">Add New Task</a>

    <form action="/logout" method="post" style="display: inline;">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>

    <div th:if="${showMessage}">
        <p th:text="${message}" class="mt-4" style="font-size: 20px; color: coral;"></p>
        <img th:src="${imagePath}" alt="Special Image" class="img-fluid mt-3">
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>